body{
    background-image: url(win.jpeg);
    background-repeat: no-repeat; 
    background-size: cover;
}
.container{
    width: 70%;
    margin: auto;
    color: red;
    font-size: 18px;
    text-align: center;
    text-transform: capitalize;
    padding: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    text-shadow: 1px 1px 1px blue;
}
#marriage{
    font-size: 50px;
    font-family: cursive;
    padding: 10px;
    text-transform: capitalize;
    text-shadow: 1px 1px 1px black;
}